{% extends 'home/master.html' %}{% block section %}
{% load static %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'home/assets/images/icons/favicon.ico' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/vendor/animate/animate.css ' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/vendor/css-hamburgers/hamburgers.min.css ' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/main.css' %}">
<style>
   /* The Modal (background) */

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:50%;
  height:30%;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:0;
  top:0;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

h2 {
        font-weight: 400;
        color: #1c87c9;
}
/* end of model style */
</style>
{% endblock %}
<div class="limiter">
            <div id="loginForm"></div>
            <div class="container-login100">

                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url({% static 'home/assets/images/bg-01.jpg' %});">
                        <span class="login100-form-title-1">
                            Sign In
                        </span>
                    </div>
                    <form class="login100-form validate-form" method="POST">
                        {% csrf_token %}
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100">Username</span>
                            <input class="input100" type="text" name="uname" id='uname' placeholder="Enter username">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" name="pass" id="pass" placeholder="Enter password">
                            <span class="focus-input100"></span>
                        </div><br>

                        <div class="flex-sb-m w-full p-b-30">
                            <div class="contact100-form-checkbox"></div>
                            <div>
                                <a href="http://127.0.0.1:8000/home/resetPassword" target="_blank" class="txt1">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <input type="submit" class="login100-form-btn" value="Login">
                        </div>
                        <!-- The Modal -->


                    </form>
                    <div class="popup" id="popup-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="close-btn" onclick="togglePopup()">&times;</div>
    <h2 align="left">Message</h2>
    <span id="popupMsg"></span>
  </div>
</div>
                </div>
            </div>
        </div>


        <!--===============================================================================================-->
        <script src="{% static 'home/assets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'home/assets/vendor/animsition/js/animsition.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'home/assets/vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'home/assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'home/assets/vendor/select2/select2.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'home/assets/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'home/assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'home/assets/vendor/countdowntime/countdowntime.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'home/assets/js/main.js' %}"></script>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    $(function() {
        $(document).scrollTop($("#dataForm").offset().top);
    });

</script>
{% endblock %}